/*
 * Copyright 2014-2023 smartics, Kronseder & Reiner GmbH
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* .box-icon {
	font-family: 'Elusive-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 16px;
	float: left;
	margin-right: 0.5em;
	margin-left: -1.5em;
	margin-top: 0.1em;
	Better Font Rendering ===========
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 */

.aui-message.shadowed.information-macro {
	padding-bottom: 1.25em;
}

.aui-message .title {
	color: DarkRed;
	font-weight: bold;
	font-size: larger;
}

/* error box*/
.box-icon-error:before {
	/*  content: "\e6dc"; */
	color: DarkRed;
}

.aui-message.error.projectdoc-box.shadowed.information-macro > div.message-content > p{
	/*  content: "\e6dc"; */
	color: DarkRed !important;
}

.aui-message.error.projectdoc-box {
	background: #F3E6E6;
	border-color: DarkRed;
	color: DarkRed;
}

.aui-message.error.projectdoc-box a {
	color: red !important;
	border-bottom: 1px solid red;
}

/*
  --- simple ---
  Based on source: http://www.maxdesign.com.au/articles/definition/
*/

dl.simple {
	margin: 0;
	padding: 0;
}
dl.simple > dt {
	margin: 0;
	padding: 0;

	font-weight: bold;
}
dl.simple > dd {
	margin: 0 0 1em 0;
	padding: 0;
}


/*
  --- meet ---
  Based on source: http://www.the-art-of-web.com/css/format-dl/
*/

dl.meet {
	padding: 0.5em;
}
dl.meet > dt {
	width: 150px;

	float: left;
	clear: left;

	text-align: right;
	font-weight: bold;
	color: #55585A;
}
dl.meet > dd {
	  margin: 0 0 0 150px;
	  padding: 0 0 0.5em 1em;
}


/*
  --- tabular ---
  Based on source: http://www.maxdesign.com.au/articles/definition/
*/

dl.tabular {
	width: 100%;

	margin: 1em 0;
	padding: 0;

	border-bottom: initial;
	float: left;
}
dl.tabular > dt {
	width: 150px;

	float: left;
	clear: left;

	margin: 0;
	padding: 5px;

	border-top: 1px solid darkgrey;
	font-weight: bold;
}
dl.tabular > dd {
	width: 300px;

	float: left;

	margin: 0;
	padding: 5px;

	border-top: 1px solid darkgrey;
}

/*
  --- margin ---
  Based on source: http://www.maxdesign.com.au/articles/definition/
*/

dl.margin {
	margin: 2em 0;
	padding: 0;
}
dl.margin > dt {
	position: relative;
	left: 0;

	width: 5em;
	top: 1.1em;

	font-weight: bold;
}
dl.margin > dd {
	margin: 0 0 0 6em;

	border-left: 1px solid #000;
	padding: 0 0 .5em .5em;
}

/*
  --- inline ---
*/
dt.inline {
	display: inline;
	margin: 0;
	float: left;
	font-weight: bold;
}

dt.inline:after {
	content: ":";
}

dt.inline:before {
	content: " |";
}

dd.inline {
	display: inline;
	margin: 0;
	float: left;
	color: lightgrey;
}

/*
  --- simple indent ...
 */
dl.simpleindent{
}
dl.simpleindent > dt {
  font-weight: bold;
}
dl.simpleindent > dd {
	margin-left: 1.6em;
}
